### Web Scraping of Flipkart Website using bs4:-

In [1]:
import bs4 
import requests

In [2]:
url="https://www.flipkart.com/search?q=laptops&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off"
data=requests.get(url)
data

In [5]:
soup=bs4.BeautifulSoup(data.text,"html.parser") # html.parser to convert html to text
#print(soup.prettify)  # prettify used for to show data in structure form

## Assignment :-
1st pages of laptops in flipkart create an excel file which contain first page detail list (Name,Mrp,Price,Rating)

###### Laptop names:-

In [6]:
# Laptop Name

name=soup.find_all("div",{"class":"_4rR01T"})
print(name[0].text)

IndexError: list index out of range

###### Laptop Price:-

In [7]:
price=soup.find_all("div",{"class":"_30jeq3 _1_WHN1"})
print(price[0].text)
len(price) # No of laptop

IndexError: list index out of range

###### Laptop Mrp:-

In [8]:
Mrp=soup.find_all("div",{"class":"_3I9_wc _27UcVY"})
print(Mrp[0].text)
len(Mrp)

IndexError: list index out of range

###### Laptop Rating:-

In [9]:
rating=soup.find_all("div",{"class":"_3LWZlK"})
print(rating[0].text)
len(rating) # No of rating is greater then 24 due to class no of 1st page and review box class no same :

IndexError: list index out of range

In [10]:
# Create 4 empty list:-
nm=[]
pr=[]
rt=[]
mrp=[]

# Create 4 loop
for i in name:
    nm.append(i.text)

for i in Mrp:
    mrp.append(i.text)    

for i in price:
    pr.append(i.text)
    
for i in range(len(nm)):
    rt.append(rating[i].text)

In [11]:
data={"Name":nm,"Mrp":mrp,"Price":pr,"Rating":rt}
import pandas as pd
df=pd.DataFrame(data)
df

Empty DataFrame
Columns: [Name, Mrp, Price, Rating]
Index: []

df.to_csv("Laptops1.csv",index=False)

They have some problem formating not work on csv file .when we create csv file in Mrp & Price column rupees symbol not show.

In [ ]:
df.to_excel("dataset/Laptops1.xlsx",index=False)