# Working on Real Project with Python

### Source of dataset:- https://www.kaggle.com/anandhuh/latest-covid19-india-statewise-data

## India Covid 19 dataset:-

##### About Dataset:-
This dataset contains latest Covid-19 India state-wise data as on September 12, 2023. This dataset can be used to analyze covid in India.

###### Dataset path:-
"C:\Users\faish\OneDrive\Desktop\DUCAT LECTURE\DS project\dataset\Latest Covid-19 India Status.csv"

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

###### Read csv file

In [ ]:
data=pd.read_csv("C:\\Users\\faish\\OneDrive\\Desktop\\DUCAT LECTURE\\DS project\\dataset\\Latest Covid-19 India Status.csv")

In [ ]:
# replace tab gab between a column name with "_"
data.columns = data.columns.str.replace(' ','_')

In [ ]:
data

## How to Analyze DataFrames ?

### .head()
It shows the first N rows in the data (by default, N=5).

In [ ]:
data.head()

### .tail()
It shows the last N rows in the data (by default, N=5).

In [ ]:
data.tail()

### .shape
It shows the total no. of rows and no. of columns of the dataframe

In [ ]:
data.shape

### .index
This attribute provides the index of the dataframe

In [ ]:
data.index

### .columns
It shows the name of each column

In [ ]:
data.columns

### .dtypes
It shows the data-type of each column

In [ ]:
data.dtypes

### .unique()
In a column, it shows all the unique values. It can be applied on a single column only, not on the whole dataframe.

In [ ]:
data["State/UTs"].unique()

### .nunique()
It shows the total no. of unique values in each column. It can be applied on a single column as well as on whole dataframe.

In [ ]:
data["State/UTs"].nunique()

### .count()
It shows the total no. of non-null values in each column. It can be applied on a single column as well as on whole dataframe.

In [ ]:
data.count()

### .value_counts()
In a column, it shows all the unique values with their count. It can be applied on single column only.

In [ ]:
data["Total_Cases"].value_counts()

### .info()
Provides basic information about the dataframe.

In [ ]:
data.info()

1. Print First And Last 10 Values From The Dataframe?

In [ ]:
data.head(10),"/n", data.tail(10)

2. How many Rows & Columns in Dataframe?

In [ ]:
print("Number of Records=",len(data.index))
print("Number of Columns=",len(data.columns))

In [ ]:
print("Number of Records=",data.shape[0])
print("Number of Columns=",data.shape[1])

3. Display Data Types Of Each Column?

In [ ]:
data.dtypes

4. Find Out The State Which Has Minimum Total Cases?

In [ ]:
data.sort_values('Total_Cases',ascending=True).head(1)

In [ ]:
data.loc[data.Total_Cases.idxmin()]   # return index of min value of your given column:

In [ ]:
data[data['Total_Cases'] == data['Total_Cases'].min()]

5. Find Out The State Which Has Maximum Total Cases?

In [ ]:
data.sort_values('Total_Cases',ascending=False).head(1)

In [ ]:
data.loc[data.Total_Cases.idxmax()]   # return index of max value of your given column:

In [ ]:
data[data['Total_Cases'] == data['Total_Cases'].max()]

6. Display All States Of India From DataFrame?

In [ ]:
data["State/UTs"].unique()

7. Display All The Data Of States Having Deaths Greater Than 10000?

In [ ]:
data[data["Deaths"]>10000]

8. Count The Total Cases Of India?

In [ ]:
data.Total_Cases.sum()

9. What is the Death Ratio Of Maharashtra?

In [ ]:
data[data["State/UTs"]=="Maharashtra"]["Death_Ratio"].values[0]     # If you want to obtain the actual value from a single-cell DataFrame or Series, using

In [ ]:
data.Death_Ratio[20]

10. Which State Has Minimum Death Ratio?

In [ ]:
data.sort_values('Death_Ratio',ascending=True).head(1)

In [ ]:
data.loc[data["Death_Ratio"].idxmin()]

In [ ]:
data[data['Death_Ratio'] == data['Death_Ratio'].min()][['State/UTs','Death_Ratio']]

11. Find Out The Discharged Patients From The States Maharashtra,Karnataka,MP,Gujrat?

In [ ]:
data[data['State/UTs'].isin(['Maharashtra','Karnataka','Madhya Pradesh','Gujarat'])][['Discharged','State/UTs']].reset_index(drop=True)

12. Find Out The States Having Total Cases between 1 lac to 5 lac?

In [ ]:
data[data.Total_Cases.between(100000,500000)]

In [ ]:
data[data.Total_Cases.isin(range(100000,500000))]

In [ ]:
data[(data['Total_Cases']>100000)&(data['Total_Cases']<500000)]

13. Display All The Data Of The States Which Has Active Cases Less Than 1000?

In [ ]:
data[data["Active"]<1000]

Find The index number which have active case more then 100:-

In [ ]:
data[data['Active'] >100].index

In [ ]:
data[data["Active"].between(1,1000)].shape[0]

14. Make A Separate CSV File Of Data Of The States Which Has Active Cases Less
Than 1000?

In [ ]:
data[data["Active"]<1000].to_csv("C:\\Users\\faish\\OneDrive\\Desktop\\DUCAT LECTURE\\DS project\\dataset\\Active_case.csv",index=False)

15. Total Number Of Deaths In India?

In [ ]:
print("Total number of death in India =",data.Deaths.sum())

16. Top 10 highest Population States in India?

In [ ]:
data.sort_values("Population",ascending=False)[:10]

17. Add a new column named "Recovery Rate" to the dataset, calculated as the ratio of discharged cases to total cases.

In [ ]:
# add recovery rate column after discharge column
data.insert(4, 'Recovery Rate',(data['Discharged'] / data['Total_Cases']) * 100 )

# add new column in last
#data['Recovery Rate'] = (data['Discharged'] / data['Total_Cases']) * 100  

data