## About this dataset:-  
#### This html dataset publised by ICC (International cricket council) on this dataset 5 tables on bassed of ICC ranking (Men's Tests, ODIs, T20 & Women's ODI and T20) source of this dataset given below 

#### source of Dataset :- https://www.espncricinfo.com/rankings/content/page/211271.html

######  Import necessary libraries & load data :-

In [ ]:
# Libraries
import pandas as pd

# Load html data
data=pd.read_html('https://www.espncricinfo.com/rankings/content/page/211271.html')

In [ ]:
# type of data
type(data)

In [ ]:
data

In [ ]:
# Number of tables on this html dataset
print("Number of table=",len(data))

In [ ]:
# Display first table in dataframe
data[0]

# Merge all tables:-

###### i) Pre Definded

In [ ]:
# Merge all table using concat()
df = pd.concat(data)
df.index=range(197)         # Index in sequential order:-

In [ ]:
df

###### ii) User defined:-

In [ ]:
# Merge all table in a dataframe:-

New_df=pd.DataFrame()   # Create empty dataframe
for i in range(len(data)):
    New_df=New_df._append(data[i],ignore_index=True)

In [ ]:
New_df

In [ ]:
# Merge all table in dataframe (without using range)
new_df2 = pd.DataFrame()

for i in data:
    new_df2 = new_df2._append([i], ignore_index=True)

In [ ]:
new_df2

In [ ]:
# position column in sequential order:-
df.Pos=range(1,198)

In [ ]:
df

In [ ]:
# position column as a index
df=df.set_index("Pos")

In [ ]:
df

In [ ]:
# Create new csv file
df.to_csv("dataset/ESPN New.csv")

## Read Your new csv file

In [ ]:
df=pd.read_csv("dataset/ESPN New.csv")

In [ ]:
df

###### All Women team record:-

In [ ]:
df[df.Team.str.contains('Women')]

###### All men's team record:-

In [ ]:
 df[~df['Team'].str.contains('Women')]